<!doctype html>
<html>
    
    <head>
        <title>CleoHome Server</title>
        
        <link rel='stylesheet',  href='/stylesheets/CleoHome_Main.css'>
        <link rel="stylesheet" , href="/bootstrap/css/bootstrap.min.css">
          
    </head>
    
    <body>
        <div class="container col-sm-12" >
            <nav class="nav navbar-default navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header" >
                        <a class="navbar-brand" href="/">CleoHome</a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-collapse-1">
                         <ul class="nav navbar-nav"  >
                            <li class="active">
                                <a href="news" target="iframe_1">Home</a>
                            </li>
                            <li>
                                <a href="news" target="iframe_1">Alarm</a>
                            </li>
                            <li>
                                <a href="news" target="iframe_1">Events</a>
                            </li>
                        </ul>
                    </div> <!-- navbar-collapse-->
                </div> <!-- container-fluid-->
            </nav>
           
           
                <div class="panel panel-default col-sm-10">
                    <div class="panel-heading">Alarm Zones</div>
                    <div class="panel-body" id="zone_container">
                        
                       <!-- labels automatically get added here by script-->
                    </div>
                </div>
             
                 
                        
                <div class="panel panel-default col-sm-2" >
                    <div class="panel-heading">Partition Status</div>
               
                    <div class="panel-body">
                        <label id="partition1">Unknown</label>  <!-- partition not automatic at this stage-->
                    </div>
                </div>
            
            
            
                <div class="panel panel-default col-sm-4 ">
                    <div class="panel-heading"><span class="col-md-3">Events</span>
                        
                            <label id="Checkbox1" class="inline">
                                <input type="checkbox" id="checkbox1" name="checkbox1" checked>Zones</label>
                            <label id="Checkbox2" class="inline">
                                <input type="checkbox" id="checkbox2" name="checkbox2">Partition</label>
                            <label id="Checkbox3" class="inline">
                                <input type="checkbox" id="checkbox3" name="checkbox3">Spare</label>
                    </div>
               
                    <div class="panel-body " id="event_container">
                       <!--<ul id="messages"></ul>-->
                       <br>
                       
                    </div>
                </div>
            
                    
                    
            
            <div id="statusbar"></div>
            <form action="">
                <input id="m" autocomplete="off" />
                <button>Send</button>
            </form>
        
        
        
        < /div>
        
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/jquery/jquery-2.1.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/scripts/index_script.js"></script>
        <script>
            
        </script>
    </body>

</html>