<xml>
    <database>
        <name>CleoHomeDB</name>
        <host>localhost</host>
        <user>CleoUser</user>
        <password>33557722</password>
        <users_table>users</users_table>
    </database>
    
    <authentication>
        <timeout>30</timeout>     <!-- time in days  -->
    </authentication>
    
    
    <alarm>
        <envisPassword>335577</envisPassword>
        <password>3572</password>
        <port>4025</port>
        <ip>10.0.0.20</ip>
        <zones>27</zones>
        <partitions>1</partitions>
        <proxyEnabled>false</proxyEnabled>
        <atomicEvents>true</atomicEvents>
    </alarm>
    
    
    <alarmmodule>
        <port>44601</port>
    </alarmmodule>
    
    <eventmodule>
        <port>44602</port>
    </eventmodule>
    
    <server>
        <port>80</port>
        <dnsupdate>true</dnsupdate>
        <dnsinterval>2</dnsinterval>  <!-- upsate time in minutes -->
        <dnsemail>false</dnsemail>
    </server>
    
    <email>
        <from>Cleopatra &lt;cleopatraserver@gmail.com&gt;</from>
        <to>Marius &lt;mariusminny@gmail.com&gt;</to>
        <cc>marius.minny@za.saabgroup.com</cc>
    </email>
    
    <general></general>
</xml>
